<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li id="brand">{{#link-to 'index'}}<span id='daycare'>Daycare</span><span id='share'>Share</span>{{/link-to}}</li>

      {{#if session.isAuthenticated}}

        <li class="navLinks">{{#link-to 'new-daycare'}}Welcome {{model.firstName}}{{/link-to}}</li>
      {{/if}} 

    </ul>



      <!-- {{#if (eq session.uid model.user.id)}}
      <li class="navLinks">{{#link-to 'edit-daycare'}}<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>Edit Daycare{{/link-to}}</li>
      {{/if}} -->


      {{#if session.isAuthenticated}}
      <!-- Logged in as {{session.currentUser.displayName}}
      {{#link-to 'user' session.content.uid}}<button>Your Profile</button>{{/link-to}} -->
        <div class="navLinks"><button type="button" class="btn btn-default" {{action "signOut"}}>Sign out</button></div>
                
    
      {{else}}
        <div class="navLinks">{{login-modal method="signUp" signUp="signUp" showExtras=true}}</div>
        <div class="navLinks">{{login-modal method="signIn" signIn="signIn" showExtras=false}}</div>
      {{/if}}

    <!-- </ul> -->
  </div>
</nav>

{{outlet}}
